section#colour-display{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 100px auto;
    width: 20%;
    background-color: #ffffff;
    box-shadow: 0 0 30px rgba(0, 0,0, 0.5);
    padding: 4rem;
    border-radius: 10px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);

}
section#colour-display h1{
    font-weight: 900;
}

section#colour-display #new-colour-button{
    width:100%;
    background-color:black;
    color: white;
    padding:1rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;

}
section#colour-display #new-colour-button:hover{
    background-color: darkgray;
}